h1{
    color : red;
    text-align: right;
}

body{
    color: blue;
}

p{
    text-align : justify;
    font-family: "Arial";
    font-style: italic;
    font-size:  medium;
    font-weight: bold;
    font-variant: small-caps;
    font-stretch: condensed;
}